{% include 'brands/base.html' %} {% block content %}
<div class="container" style="margin-left:3px; ">
    <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        Brands
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Scania</li>
                        <li class="list-group-item">Mercedes</li>
                        <li class="list-group-item">MAN</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">2 of 2</div>
    </div>  
</div>
{% endblock content %}
